{% extends 'index.html' %}
{% block content %}
    <h1 class="text-center font-monospace">SQUEEZEE</h1>
    <p>Squeezee is a revolutionary app to help you achieve your fitness goals anywhere, anytime. Fitness trainer Sylvia Reef will personally guide you through unique workouts designed to get you results, directly on your phone. Squeezee app also provides customized nutrition planning based on your fitness goals.
This app is suited for beginners who are new to fitness, as well as experienced individuals. The customized training programs on our app are world-class and specially designed to meet your physical as well as nutritional health requirements.
        </p>
    <div class="accordion" id="accordionExample">
      <div class="accordion-item">
        <h2 class="accordion-header" id="headingOne">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
            PERSONAL FITNESS TRAINER AT YOUR FINGERTIPS
          </button>
        </h2>
        <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#accordionExample" style="">
          <div class="accordion-body">
            <strong>Talk about trainer.</strong> Renowned Fitness Trainer will guide you through the workout programs within the app. The app is exclusively designed to get results and each exercise is carefully curated by MUA.
          </div>
        </div>
      </div>
      <div class="accordion-item">
        <h2 class="accordion-header" id="headingTwo">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
            FULL BODY HOME WORKOUTS
          </button>
        </h2>
        <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
          <div class="accordion-body">
            <strong>That's all your body needs.</strong> A 12 week program designed to tone and define, build strength, and lose weight. Each day of the program is designed to target a different area of the body (upper body, lower body, full body, abs, etc). The only equipment needed is a set of dumbbells, booty band, and a chair.
          </div>
        </div>
      </div>
      <div class="accordion-item">
        <h2 class="accordion-header" id="headingThree">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
            DANCE SCULPT WORKOUTS
          </button>
        </h2>
        <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
          <div class="accordion-body">
            <strong>Dancing is the most enjoyable training.</strong> An 8 week program designed to sculpt a dancer body. This program focuses on developing long and lean muscle while also working on mobility and flexibility. Classes include: core sculpt, barre, conditioning, full body sculpt, and a long and lean stretch.
          </div>
        </div>
      </div>
          <div class="accordion-item">
        <h2 class="accordion-header" id="headingFour">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
            KNOW EXPECTED CALORIE BURN & TIME
          </button>
        </h2>
        <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour" data-bs-parent="#accordionExample" style="">
          <div class="accordion-body">
            <strong>How much calories u burn?</strong> Each workout in the app provides the approximate amount of calories burned, and the time it takes to complete the workout.
          </div>
        </div>
      </div>

        <div class="accordion-item">
        <h2 class="accordion-header" id="headingFive">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
            CURATED EXERCISES & WORKOUT PROGRAMS
          </button>
        </h2>
        <div id="collapseFive" class="accordion-collapse collapse" aria-labelledby="headingFive" data-bs-parent="#accordionExample" style="">
          <div class="accordion-body">
            <strong>We are here to help you.</strong> Each Workout Program is carefully curated and designed to help you meet your fitness goals. There is optimal rest time included in each program between different exercises.
          </div>
        </div>
      </div>

        <div class="accordion-item">
        <h2 class="accordion-header" id="headingSix">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
            JOIN OUR COMMUNITY!
          </button>
        </h2>
        <div id="collapseSix" class="accordion-collapse collapse" aria-labelledby="headingSix" data-bs-parent="#accordionExample" style="">
          <div class="accordion-body">
            <strong>Let's talk!</strong>Tap the community button inside the app and join the exclusive Squeezee insider’s community. Get the latest information, ask questions or get feedback from different community members with the Squeezee workout app.
              <br>
              Follow us on Instagram:
              <ul>
                  <li>https://www.instagram.com/squeezeefit</li>
                  <li>https://www.instagram.com/squeezeedreamteam</li>
              </ul>
          </div>
        </div>
      </div>
            </div>

<footer>For more information, see our terms: https://squeezeeapp.com/terms.html and privacy policy: https://squeezee.com/privacy.html</footer>
</div>
{% endblock %}