{% extends 'index.html' %}
{% block content %}
    <br>
    {% for stretch in all_stretch %}
    <div class="card stretch w-50 shadow-lg p-3 mb-5 rounded">
    <div class="card-body">
        <h3 class="card-title">{{ stretch.title }}</h3>
        <ul>
            <li>{{ stretch.description }}</li>
        </ul>
        <a href="/stretch_details/{{ stretch.id }}/" class="btn btn-secondary">Show details</a>
        <a href="{% url 'add_stretching_to_plan' %}" class="btn btn-secondary">Add to my plan</a>
        {% if user.is_superuser %}
        <a href="{% url 'delete_stretch' stretch.id %}" class="btn btn-dark float-end">Delete</a>
        {% endif %}
    </div>
    </div>
        {% endfor %}
{% endblock %}