.sidebar {
  margin: 0;
  padding: 0;
  width: 200px;
  background-color: #f1f1f1;
  position: fixed;
  height: 100%;
  overflow: auto;
}

.sidebar a {
  display: block;
  color: black;
  padding: 16px;
  text-decoration: none;
}

.sidebar a.active {
  background-color: #a446e1;
  color: white;
}

.sidebar a:hover:not(.active) {
  background-color: #bfaaf5;
  color: white;
}

/* Page content. The value of the margin-left property should match the value of the sidebar's width property */
div.content {
  margin-left: 200px;
  padding: 1px 16px;
  height: 1000px;
}

div.quote {
  margin-left: 200px;
  padding: 20px;
}

/* On screens that are less than 700px wide, make the sidebar into a topbar */
@media screen and (max-width: 700px) {
  .sidebar {
    width: 100%;
    height: auto;
    position: relative;
  }
  .sidebar a {float: left;}
  div.content {margin-left: 0;}
}

/* On screens that are less than 400px, display the bar vertically, instead of horizontally */
@media screen and (max-width: 400px) {
  .sidebar a {
    text-align: center;
    float: none;
  }
}


div .card {
  background: #bfaaf5;
}


div .work {
    background: #bfaaf5;
}

div .warm {
  background: #bfaaf5;
}

div .stretch {
    background: #bfaaf5;
}

div .plan {
  background: #bfaaf5;
}

h1 .about {
  text-align: center;
  color: #e111b0;
  font-family: sans-serif;
}